extends layout

mixin makeSection(data)
    div.contentSection
        h3= data.header
        hr
        p= data.content

block head
    link(rel='stylesheet', href='public/stylesheets/index.css')
    script(src="public/javascripts/index.js")

block content
    table#topSection
        tbody
            tr
                td
                    +makeSection(db.topSection)
                td
                    div#slideShow
                        for imageSrc in slideshow
                            img.slideShowImage(src= "public/images/slideshow/" + imageSrc)
    for item in db.sections
        table
            tbody
                tr
                    for entry in item
                        td
                            +makeSection(entry)

    //form#form
    //    input(type="text" name="text")
    //    input(type="submit" value="SUBMIT")
