extends layout

mixin makeSection(data)
    -var color = data.color !== 'none' ? data.color : ''
    div(class='contentSection ' + color)
        h3!= data.header
        hr
        div
            !{data.content}

block head
    link(rel='stylesheet', href='public/stylesheets/index.css')
    script(src="public/javascripts/index.js")

block content
    table#topSection
        tbody
            tr
                td
                    +makeSection(db.topSection)
                td
                    div#slideShow
                        for imageSrc in slideshow
                            img.slideShowImage(src= "public/images/slideshow/" + imageSrc)
    for item in db.sections
        table
            tbody
                tr
                    for entry in item
                        td
                            +makeSection(entry)
