doctype html
html
    head
        title= title
        link(rel='stylesheet', href='public/stylesheets/font-awesome.min.css')
        link(href='http://fonts.googleapis.com/css?family=Ubuntu&subset=cyrillic,latin' rel='stylesheet' type='text/css')
        script(src="public/javascripts/jquery-2.1.4.min.js")
        script(src="public/javascripts/global.js")
        block head

    body
        block content
