doctype html
html
    head
        title= title
        script(src="public/javascripts/jquery-2.1.4.min.js")
        script(src="public/javascripts/global.js")
        block head

    body
        block content
