doctype html
html
    head
        title= title
        link(rel='stylesheet', href='public/stylesheets/style.css')
        script(src="public/javascripts/jquery-2.1.4.min.js")
        script(src="public/javascripts/login.js")
    body
        form#loginForm
            input(type="text" name="username")
            input(type="password" name="password")
            input(type="submit" value="SUBMIT")